*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-item .active:hover{
color: rgb(80, 80, 244);
}


.custom-shape-divider-bottom-1693128268 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1693128268 svg {
    position: relative;
    display: block;
    width: calc(102% + 1.3px);
    height: 81px;
}

.custom-shape-divider-bottom-1693128268 .shape-fill {
    fill: #FFFFFF;
}


.main{
    position: relative;
    background-color: black;
    height: 90vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    overflow: hidden;
    border: none;
    color: #FFFFFF;
}

.main h1{
    font-size: 33px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(220, 87, 20);
}
.main h2{
    font-size: 33px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}


.main p{
    font-size: 34px;
    font-weight: 900;
    font-family: cursive;
    color: rgb(6, 174, 34);
}


.main .change-content::after{
content: '';
animation: loopupdown 8s infinite linear ;
color: rgb(235, 12, 12);
}
@keyframes loopupdown {
    0%{content: "Algerian Space Agency";}
    20%{content: "Comisión Nacional de Actividades Espaciales";}
    40%{content: "Australian Space Agency";}
    60%{content: " China National Space Administration";}
    80%{content: "  National Centre for Space Studies";}
    100%{content: " German Aerospace Center ";}
}

 
/* GALLERY  */
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.flag:hover{
transform: rotate(360deg);
transition: transform 2s;
}

.text-bg-dark:hover{
    box-shadow: 1px 1px 14px 1px gray;
}


/* ABOUT  */

.about-isro{
    width: 100%;
    height: auto;
}


.contect-isro1{
  justify-content: space-around;
}

.contect-isro2{
    justify-content: space-around;
    background-color: rgb(221, 221, 236);
    padding: 22px;
  }

  .contect-isro3{
    justify-content: space-around;
    padding: 22px;
  }

  .contect-isro4{
    justify-content: space-around;
    background-color: rgb(221, 221, 236);
    padding: 22px;
  }